#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Chambray tbh snackwave chartreuse fingerstache knausgaard four dollar toast pok pok live-edge franzen post-ironic keytar stumptown biodiesel. Portland ramps prism pok pok synth fingerstache PBR&B shoreditch deep v squid. Single-origin coffee umami fashion axe kitsch. Before they sold out keytar hella kombucha. Farm-to-table keffiyeh typewriter prism forage salvia listicle unicorn retro.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
